<h1>About</h1>

{% extends 'layouts\base.html' %}

{% block content%}

<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Provident id deleniti nihil maiores libero obcaecati sequi error eum magni. Id ad, facere quis quas asperiores quidem harum dignissimos dolor consectetur accusantium sint officiis eligendi aliquam aut, consequuntur esse corrupti illo vero perspiciatis, nihil quam. Fugit magni doloremque nam, laudantium obcaecati dolores temporibus. Aut quam tempore reiciendis nemo iusto? Corporis cupiditate deserunt animi quasi libero molestias corrupti minus amet. Recusandae temporibus debitis iusto adipisci quisquam nobis dignissimos, accusamus ullam magnam, nulla facere blanditiis pariatur reprehenderit placeat dolore officia. Consequatur, aperiam. Dicta error, maxime saepe quam distinctio modi odit dolore aperiam dolorem.</p>

<p>Website created by {{username}}</p>

{% endblock %}